<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>All Listings</h3>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
    <% for (let listing of allListings) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark listing-link">
          <div class="card h-100">
            <img src="<%= listing.image && listing.image.url ? listing.image.url : "https://cdn.pixabay.com/photo/2022/09/27/19/46/ai-generated-7483596_960_720.jpg" %>" class="card-img-top" alt="<%=listing.title%>" style="height: 20rem; object-fit: cover;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text mb-0">
                <b><%= listing.title %></b><br>
                &#8377;<%= Number(listing.price).toLocaleString("en-IN")%>/night
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
